{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        ;info.sunng/ring-jetty9-adapter {:mvn/version "0.30.0"}
        metosin/reitit {:mvn/version "0.6.0"}
        aleph/aleph {:mvn/version "0.7.0-alpha1"}
        ring/ring {:mvn/version "1.11.0-alpha3"}
        hiccup/hiccup {:mvn/version "1.0.5"}}
 :paths ["src/clj" "resources"]}